@CHARSET "UTF-8";

/* 登录页面
-----------------------------------------------------------------------------------------------------------*/
.techRepair_page {
	background: url(../image/backgroud.png) 0 0 no-repeat;
	background-size: cover
}

#text-username {
	width: 257px;
	height: 40px;
	background: url(../image/text_username.png) no-repeat;
	background-position: center;
	text-indent:50px;
	color: #ffffff;
	border: none;
	font-size: 15px;
}

#text-password {
	width: 257px;
	height: 40px;
	background: url(../image/text_password.png) no-repeat;
	background-position: center;
	text-indent:50px;
	color: #ffffff;
	border: none;
	font-size: 15px;
}

.techRepair-button-red {
	color:#ffffff;
	font-weight:bold;
	font-size:20px;
	width: 257px;
	height: 40px;
	background-color: #ff4a59;
	border-radius: 20px;
	margin-top:10px;
	font-family:幼圆;
	border: none;
}
.techRepair-button-red:hover{
	color:#ffffff;
	font-weight:bold;
	font-size:20px;
	width: 257px;
	height: 40px;
	background-color: #d93f4c;
	border-radius: 20px;
	margin-top:10px;
	border: none;
}
.techRepair-button-red:active{
	color:#ffffff;
	font-weight:bold;
	font-size:20px;
	width: 257px;
	height: 40px;
	background-color: #ff4a59;
	border-radius: 20px;
	margin-top:10px;
	border: none;
}

/* 注册页面
-----------------------------------------------------------------------------------------------------------*/
#text-phone-number{
	width: 257px;
	height: 40px;
	background: url(../image/textbox.png) no-repeat;
	background-position: center;
	text-indent:20px;
	color: #ffffff;
	border: none;
	font-size: 15px;
}
#div-identifyingCode{
	height: 44px;
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
}
#button-identifyingCode{
	width: 103px;
	height: 40px;
	background: url(../image/btnyzm.png) no-repeat;
	background-position: center;
	color: #ffffff;
	border: none;
	font-size: 14px;
	float:left;
}
#text-identifyingCode{
	width: 155px;
	height: 40px;
	background: url(../image/textboxyzm.png) no-repeat;
	background-position: center;
	color: #ffffff;
	border: none;
	font-size: 14px;
	float:right;
	padding:0px;
	text-indent:5px;
}

/* 公共页面
-----------------------------------------------------------------------------------------------------------*/
.techRepair-button-green {
	color:#ffffff;
	font-weight:bold;
	font-size:20px;
	width: 100%;
	height: 40px;
	background-color: #487b8e;
	border-radius: 20px;
	margin-top:10px;
	font-family:幼圆;
	border: none;
}
.techRepair-button-green:hover{
	color:#ffffff;
	font-weight:bold;
	font-size:20px;
	width: 100%;
	height: 40px;
	background-color: #335866;
	border-radius: 20px;
	margin-top:10px;
	border: none;
}
.ui-page .ui-footer .ui-header{
    padding-left:20px;
    padding-right:20px;
}
.ui-page .ui-footer {
	text-align:center;
    background: #ffffff !important;
    border:none;
}